doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(name="keywords" content="HTML(PUG), CSS(SCSS), JavaScript(CoffeeScript)")
        meta(name="author" content="Tomás Navarro Cabrera")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/estilos.min.css")
        title Funciones en css
    body
        h1 Barras de progreso
        .skills-container
            .skills
                .circular-progress.html
                .circular-progress.css
                .circular-progress.javascript
                .circular-progress.php
                .circular-progress.ruby
                .circular-progress.python
